<%= form_for(@post) do |f| %>
    

    <%= f.label :title %>
    <%= f.text_field :title, class: 'f_item' %>
    
    <div class="field">
        <%= f.rich_text_area :content, class: 'f_item f_content' %>
    </div>

    <div id="category-list">
        <%= render partial: 'category', collection: @categories %>
    </div>

    <%= f.submit yield(:submit_posts_text), class: 'f_submit' %>
<% end %>
<%= render 'categories/category_form' %>
