<%= @category.name %>
<%= render 'arrenge_form', {id: @category.id, how: 'access_counter', order: 'desc', str: '閲覧回数順'} %>
<%= render 'arrenge_form', {id: @category.id, how: 'created_at', order: 'asc', str: '投稿昇順'} %>
<%= render 'arrenge_form', {id: @category.id, how: 'created_at', order: 'desc', str: '投稿降順'} %>
<div id="post_index">
    <%= render @posts %>
</div>
<%= will_paginate @posts, previous_label: '&lt', next_label: '&gt', inner_window: 1, outer_window: 0 %>